//resolutions
$laptop: 1366px;
$min-laptop: 1200px;
$tablets: 1024px;
$min-tablets: 768px;
$phones: 480px;
//config
@mixin laptop {
    @media screen and (max-width: $laptop) {
        @content;
    }
}
@mixin min-laptop {
    @media screen and (max-width: $min-laptop) {
        @content;
    }
}
@mixin tablets {
    @media screen and (max-width: $tablets) {
        @content;
    }
}
@mixin min-tablets {
    @media screen and (max-width: $min-tablets) {
        @content;
    }
}
@mixin phones {
    @media screen and (max-width: $phones) {
        @content;
    }
}
body {
    font-size: 16px;
    @include phones {
        font-size: 13px;
    }
}
p {
    font-size: 16px;
}

.header {
    background-color: rgba(0, 0, 0, 0.5);
    &--changable {
        @include phones {
            background-color: rgba(0, 0, 0, 0.5) !important;
        }
    }
    &--inside {
        background-color: transparent;
        @include min-tablets {
            background: #3A3D4B;
        }
        .address {
            p {
                color: #000;
            }
        }
        .phones {
            a {
                color: #000;
            }
        }
        .menu {
            &__item {
                a {
                    color: #000;
                }
            }
        }
        .inside-menu {
            a {
                color: #fff;
            }
        }
        .search {
            input {
                color: #000;
            }
            :-moz-placeholder {
                color: #000;
            }
            :-ms-input-placeholder {
                color: #000;
            }
            ::-moz-placeholder {
                color: #000;
            }
            ::-webkit-input-placeholder {
                color: #000;
            }
        }
    }
}
.address {
    p {
        font-size: 14px;
        color: #fff;
        @include laptop {
            font-size: 12px;
        }
    }
}
.phones {
    a {
        font-size: 20px;
        color: #fff;
        @include laptop {
            font-size: 14px;
        }
    }
}
.btn {
    background-color: #1253C0;
    color: #fff;
    font-size: 12px;
    &:hover {
        background-color: darken(#1253C0, 5);
    }
    &--green {
        background-color: #44AE33;
        &:hover {
            background-color: darken(#44AE33, 5);
        }
    }
    &--inverse {
        background: #E7EFFC;
        color: #000;
        &:hover {
            background: #1253C0;
            color: #fff;
        }
    }
}
.menu {
    &__item {
        a {
            color: #fff;
            font-size: 14px;
            @include laptop {
                font-size: 12px;
            }
        }
    }
}
.inside-menu {
    background-color: rgba(0, 0, 0, 0.8);
    &__item {
        li {
            a {
                color: #fff;
            }
        }
    }
    &__link {
        color: #fff;
        font-size: 16px;
        @include laptop {
            font-size: 14px;
        }
    }
}
.search {
    input {
        color: #fff;
        font-size: 12px;
        font-family: Circe-Regular;
    }
}
:-moz-placeholder {
    color: #fff;
}
:-ms-input-placeholder {
    color: #fff;
}
::-moz-placeholder {
    color: #fff;
}
::-webkit-input-placeholder {
    color: #fff;
}
:focus::-webkit-input-placeholder {
    color: transparent;
}
:focus::-moz-placeholder {
    color: transparent;
}
:focus:-moz-placeholder {
    color: transparent;
}
:focus:-ms-input-placeholder {
    color: transparent;
}
.intro {
    &__desc {
        color: #fff;
        h2 {
            font-size: 95px;
            @include laptop {
                font-size: 52px;
            }
            @include min-tablets {
                font-size: 40px;
            }
        }
        p {
            font-size: 24px;
            background-color: #1253C0;
            @include laptop {
                font-size: 18px;
            }
            @include min-tablets {
                font-size: 16px;
            }
        }
        span {
            font-size: 24px;
            color: #fff;
            @include laptop {
                font-size: 14px;
            }
        }
    }
}
.properties {
    ul {
        span {
            color: #fff;
            @include laptop {
                font-size: 14px;
            }
            @include phones {
                color: #000;
                font-weight: bold;
                font-size: 14px;
            }
        }
    }
}
.form {
    &.calculator {
        .form__content {
            @include min-tablets {
                background-color: #1253C0;
            }
        }
        .form__fields {
            @include min-tablets {
                background-color: #fff;
            }
        }
        .form__bottom {
            p {
                @include min-tablets {
                    color: rgba(0, 0, 0, 0.5);
                }
                a {
                    @include min-tablets {
                        color: rgba(0, 0, 0, 0.5);
                    }
                }
            }
        }
        .form__title {
            h3 {
                @include min-tablets {
                    color: #fff;
                    font-size: 18px;
                }
            }
        }
    }
    &__title {
        h3 {
            font-size: 30px;
            @include laptop {
                font-size: 24px;
            }
        }
    }
    &__fields {
        input {
            color: #000;
            font-size: 14px;
        }
        :-moz-placeholder {
            color: #000;
        }
        :-ms-input-placeholder {
            color: #000;
        }
        ::-moz-placeholder {
            color: #000;
        }
        ::-webkit-input-placeholder {
            color: #000;
        }
        :focus::-webkit-input-placeholder {
            color: transparent;
        }
        :focus::-moz-placeholder {
            color: transparent;
        }
        :focus:-moz-placeholder {
            color: transparent;
        }
        :focus:-ms-input-placeholder {
            color: transparent;
        }
    }
    &__bottom {
        p {
            font-size: 13px;
            color: #fff;
            a {
                color: #fff;
            }
        }
    }
    .form-group .btn-tertiary {
        color: rgba(0, 0, 0, 0.5);
        span {
            @include laptop {
                font-size: 12px;
            }
        }
    }
    .form-group .btn-tertiary:hover,.form-group .btn-tertiary:focus {
        color:#888;
        border-color:#888;
    }
}
.btn-more {
    @include phones {
        span {
            color: rgba(0, 0, 0, 0.5);
            font-size: 12px;
        }
    }
}
.section-title {
    font-size: 36px;
    @include laptop {
        font-size: 28px;
    }
    @include phones {
        font-size: 20px;
    }
    ~p {
        font-size: 14px;
        a {
            color: #000;
            @include phones {
                font-weight: bold;
            }
        }
    }
}
.activities {
    &__item {
        &:hover {
            .activities__desc {
                background: rgba(231, 239, 252, 0.9);
            }
            h4 {
                color: #1253C0;
            }
            a {
                color: #000;
                &:hover {
                    color: #1253C0;
                }
            }
        }
    }
    &__desc {
        h4 {
            color: #fff;
            font-size: 24px;
            @include laptop {
                font-size: 18px;
            }
        }
        ul {
            li {
                a {
                    font-size: 18px;
                    color: #fff;
                    @include laptop {
                        font-size: 13px;
                    }
                    @include phones {
                        font-size: 15px;
                    }
                }
            }
        }
    }
    &__details {
        a {
            font-size: 14px;
            color: #fff;
            @include laptop {
                font-size: 11px;
            }
        }
    }
}
.advantages {
    &__item {
        span {
            font-size: 18px;
            @include laptop {
                font-size: 14px;
            }
        }
    }
}
.calculate-condition {
    &__left {
        p {
            color: #fff;
            font-size: 24px;
            @include laptop {
                font-size: 18px;
            }
        }
    }
    h2 {
        font-size: 66px;
        color: #fff;
        @include laptop {
            font-size: 40px;
        }
    }
}
.instagram {
    span {
        font-size: 30px;
        @include phones {
            font-size: 20px;
        }
    }
}
.gallery {
    &__item {
        &.all-objects {
            h4 {
                color: #fff;
                font-size: 24px;
                @include laptop {
                    font-size: 18px;
                }
                @include phones {
                    font-size: 14px;
                }
            }
            a {
                color: #fff;
                span {
                    font-size: 14px;
                    @include laptop {
                        font-size: 12px;
                    }
                }
            }
        }
    }
    &__left {
        a {
            color: #fff;
            span {
                font-size: 14px;
            }
        }
    }
    &__hidden-info {
        h4 {
            font-size: 24px;
            @include laptop {
                font-size: 18px;
            }
        }
    }
    &__hidden-desc {
        .gallery__left {
            a {
                color: #000;
            }
            span {
                color: #000;
            }
        }
    }
    &__hidden-details {
        span {
            font-size: 14px;
        }
    }
}
.footer {
    &__top {
        .address {
            p {
                &:first-child {
                    font-size: 14px;
                    @include min-laptop {
                        font-size: 10px;   
                    }
                }
                &:last-child {
                    color: rgba(255,255,255,0.5);
                    font-size: 12px;
                    @include min-laptop {
                        font-size: 10px;
                    }
                }
            }
        }
    }
    &__middle {
        .menu {
            a {
                color: #fff;
                font-size: 14px;
                @include min-laptop {
                    font-size: 12px;
                }
                @include phones {
                    color: rgba(255, 255, 255, 0.5);
                    font-size: 14px;
                }
            }
        }
        a {
            color: #fff;
            &.mail {
                font-size: 14px;
                @include min-laptop {
                    font-size: 12px;
                }
                @include phones {
                    font-size: 14px;
                }
            }
            &.phone {
                font-size: 24px;
                @include laptop {
                    font-size: 18px;
                }
                @include min-laptop {
                    font-size: 14px;
                }
                @include phones {
                    font-size: 24px;
                }
            }
        }
    } 
    &__bottom {
        color: rgba(255, 255, 255, 0.5);
        font-size: 12px;
        @include min-laptop {
            font-size: 10px;
        }
        a {
            color: rgba(255, 255, 255, 0.5);
        }
    }
}
.mobile-menu {
    li {
        a {
            font-size: 18px;
        }
    }
    a {
        color: #fff;
    }
    .address {
        p {
            @include phones {
                color: rgba(255, 255, 255, 0.6);
                font-size: 14px;
            }
            
        }
    }
    .mail {
        font-size: 16px;
    }
}
.order-call {
    .form {
        &__bottom {
            p {
                text-align: center;
                color: rgba(0, 0, 0, 0.5);
                a {
                    color: rgba(0, 0, 0, 0.5);
                }
            }
        }
    }
}

//Хлебные крошки
.cookies {
    a {
        color: rgba(0, 0, 0, 0.5);
        font-size: 11px;
    }
    &--light {
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        a {
            color: rgba(255, 255, 255, 0.5);
        }
    }
}

//Отзывы
.reviews-links {
    ul {
        li {
            background-color: #E7EFFC;
            &:hover {
                background-color: darken(#E7EFFC, 5);
            }
            a {
                color: #000;
                font-size: 14px;
                @include phones {
                    font-size: 11px;
                }
            }
        }
    }
}
.reviews {
    &__link {
        color: #fff;
        span {
            font-size: 12px;
        }
    }
    &__desc {
        div {
            &:last-child {
                p {
                    &:first-child {
                        font-size: 14px;
                        @include phones {
                            font-size: 18px;
                        }
                    }
                    &:last-child {
                        font-size: 12px;
                        color: rgba(0, 0, 0, 0.5);
                        @include phones {
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }
}
.links {
    @include min-tablets {
        a {
            span {
                font-size: 11px;
                @include phones {
                    font-size: 10px;
                }
            }
            &:first-child {
                color: #000;
                background: #E7EFFC;
            }
            &:last-child {
                background: #1253C0;
                color: #fff;
            }
            &.links__item-changable {
                @include phones {
                    background: rgba(231, 239, 252, 0.5);
                    color: #fff;
                }
            }
        }
    }
}
//Цены
.prices {
    th {
        background: #1253C0;
        color: #fff;
        font-size: 14px; 
        @include phones {
            font-size: 12px;
        }
    }
    td {
        font-size: 14px;
        border-top: 2px solid #fff;
        border-bottom: 2px solid #fff;
        background: #E7EFFC;
        @include phones {
            font-size: 12px;
        }
    }
    div {
        background: #E7EFFC;
        li {
            font-size: 14px;
            @include phones {
                font-size: 13px;
            }
        }
    }
    &--special {
        td {
            background: #1253C0;
            color: #fff; 
            border: 5px solid #fff;
        }
        &--metal {
            th {
                border-left: 5px solid #fff;
                border-right: 5px solid #fff;
            }
            td {
                background: #E7EFFC;
                color: #000;
            }
        }
    }
}
.gallery-wrap {
    .gallery {
        h4 {
            font-size: 16px;
        }
    }
}
.contacts-wrap {
    background: rgba(255, 255, 255, 0.8);
    &__top {
        a {
            color: #1253C0;
            font-size: 24px;
        }
    }
    ul {
        li {
            p {
                font-size: 14px;
            }
            a {
                color: #1253C0;
            } 
        }
    }
    p {
        font-size: 14px;
    }
}
//Наши услуги
.section-title {
    &--service {
        color: #1253C0;
    }
}
.desc-title {
    &--prev {
        font-size: 18px;
    }
}
.content-desc {
    p {
        font-size: 14px;
    }
}
.services-list {
    li {
        a {
            color: #000;
            font-size: 14px;  
            &:hover {
                color: #1253C0;
            }
        }
    }
}
.activities {
    &--services {
        .activities__details {
            a {
                font-size: 16px;
                @include phones {
                    color: #000;
                    &.active {
                        color: #1253C0;
                    }
                }
            }
        }
        .activities__wrap {
            .btn {
                color: #fff;
                &:hover {
                    color: #fff;
                }
            }
        }
        .activities__link {
            span {
                color: rgba(0, 0, 0, 0.2);
            }
        }
    }
}
//Новости
.news {
    &__item {
        h3 {
            font-size: 24px;
            color: #fff;
            @include laptop {
                font-size: 18px;
            }
            @include phones {
                font-size: 18px;
            }
        }
    }
    &__desc {
        div {
            span {
                font-size: 14px;
                color: #fff;
            }
        }
        p {
            font-size: 14px;
            color: #fff;
        }
    }
}
.pages {
    ul {
        a {
            font-size: 14px;
            color: rgba(0, 0, 0, 0.5);
            &:hover {
                background: #E7EFFC;
            }
        }
    }
}
.news-more {
    @include min-tablets {
        color: #000;
    }
}
//Новость подробно
.similar-news {
    background: rgba(231, 239, 252, 0.5);
}
.news-more {
    &__title {
        h2 {
            font-size: 64px;
            color: #fff;
            @include laptop {
                font-size: 44px;
            }
            @include phones {
                color: #000;
                text-transform: uppercase;
                font-size: 26px;
            }
        }
    }
}
//Галерея подробно
.gallery-more {
    &__right {
        background: rgba(231, 239, 252, 0.5);
        h4 {
            font-size: 24px;
        }
        ul {
            li {
                font-size: 14px;
                span {
                    color: #1253C0;
                }
            }
        }
    }
}
//Услуги родробно (кирпичные дома)
.news-more {
    &__intro {
        &--services {
            .news-more__title {
                h2, span {
                    @include phones {
                        color: #fff;
                    }
                }
                h2 {
                    @include phones {
                        text-transform: none;
                        font-size: 36px;
                    }
                }
            }
        }
    }
}
.variation {
    &__title {
        p {
            @include phones {
                font-size: 20px;
                font-weight: bold;
            }
        }
    }
    &__center {
        table {
            td {
                background: rgba(231, 239, 252, 0.9);
                font-size: 16px;
                border: 2px solid #fff;
                &.none {
                    background: #BCBCBC;
                }
                @include laptop {
                    font-size: 14px;
                }
            }
        }
    }
    &__price {
        &-left, &-right {
            div {
                p {
                    background: #1253C0;
                    font-size: 14px;
                    color: #fff;
                    @include phones {
                        font-size: 11px;
                    }
                }
            }
        }
    }
}
.factos {
    background: #E7EFFC;
    p {
        font-size: 18px;
    }
    &__item {
        font-size: 16px;
    }
    .section-title {
        @include phones {
            font-size: 22px;
        }
    }
}
//Проектирование
.types {
    &__title {
        h3 {
            color: #1253C0;
            font-size: 30px;
            @include phones {
                font-size: 20px;
            }
        }
        div {
            &:last-child {
                color: #E73A3E;
                p {
                    font-size: 30px;
                    @include phones {
                        font-size: 18px;
                    }
                }
                span {
                    font-size: 14px;
                }
            }
        }
    }
    &__left {
        ul {
            li {
                @include tablets {
                    font-size: 11px;
                } 
                @include phones {
                    font-size: 14px;
                }
            }
        }
    }
    &__right {
        .form {
            background: rgba(231, 239, 252, 0.7);
        }
        .form__bottom {
            p {
                color: #000;
                @include phones {
                    color: rgba(0,0,0,0.5);
                }
                a {
                    color: #000;
                    @include phones {
                        color: rgba(0,0,0,0.5);
                    }
                }
            }
        }
    }
}
