body {
  font-size: 16px; }
  @media screen and (max-width: 480px) {
    body {
      font-size: 13px; } }

.header {
  background-color: rgba(0, 0, 0, 0.5); }
  .header--inside {
    background-color: transparent; }
    @media screen and (max-width: 768px) {
      .header--inside {
        background: #3A3D4B; } }
    .header--inside .address p {
      color: #000; }
    .header--inside .phones a {
      color: #000; }
    .header--inside .menu__item a {
      color: #000; }
    .header--inside .inside-menu a {
      color: #fff; }
    .header--inside .search input {
      color: #000; }
    .header--inside .search :-moz-placeholder {
      color: #000; }
    .header--inside .search :-ms-input-placeholder {
      color: #000; }
    .header--inside .search ::-moz-placeholder {
      color: #000; }
    .header--inside .search ::-webkit-input-placeholder {
      color: #000; }

.address p {
  font-size: 14px;
  color: #fff; }
  @media screen and (max-width: 1366px) {
    .address p {
      font-size: 12px; } }

.phones a {
  font-size: 20px;
  color: #fff; }
  @media screen and (max-width: 1366px) {
    .phones a {
      font-size: 14px; } }

.btn {
  background-color: #1253C0;
  color: #fff;
  font-size: 12px; }
  .btn:hover {
    background-color: #1049a9; }
  .btn--green {
    background-color: #44AE33; }
    .btn--green:hover {
      background-color: #3c9a2d; }
  .btn--inverse {
    background: #E7EFFC;
    color: #000; }
    .btn--inverse:hover {
      background: #1253C0;
      color: #fff; }

.menu__item a {
  color: #fff;
  font-size: 14px; }
  @media screen and (max-width: 1366px) {
    .menu__item a {
      font-size: 12px; } }

.inside-menu {
  background-color: rgba(0, 0, 0, 0.8); }
  .inside-menu__item li a {
    color: #fff; }
  .inside-menu__link {
    color: #fff;
    font-size: 16px; }
    @media screen and (max-width: 1366px) {
      .inside-menu__link {
        font-size: 14px; } }

.search input {
  color: #fff;
  font-size: 12px;
  font-family: Circe-Regular; }

:-moz-placeholder {
  color: #fff; }

:-ms-input-placeholder {
  color: #fff; }

::-moz-placeholder {
  color: #fff; }

::-webkit-input-placeholder {
  color: #fff; }

:focus::-webkit-input-placeholder {
  color: transparent; }

:focus::-moz-placeholder {
  color: transparent; }

:focus:-moz-placeholder {
  color: transparent; }

:focus:-ms-input-placeholder {
  color: transparent; }

.intro__desc {
  color: #fff; }
  .intro__desc h2 {
    font-size: 95px; }
    @media screen and (max-width: 1366px) {
      .intro__desc h2 {
        font-size: 52px; } }
    @media screen and (max-width: 768px) {
      .intro__desc h2 {
        font-size: 40px; } }
  .intro__desc p {
    font-size: 24px;
    background-color: #1253C0; }
    @media screen and (max-width: 1366px) {
      .intro__desc p {
        font-size: 18px; } }
    @media screen and (max-width: 768px) {
      .intro__desc p {
        font-size: 16px; } }
  .intro__desc span {
    font-size: 24px;
    color: #fff; }
    @media screen and (max-width: 1366px) {
      .intro__desc span {
        font-size: 14px; } }

.properties ul span {
  color: #fff; }
  @media screen and (max-width: 1366px) {
    .properties ul span {
      font-size: 14px; } }
  @media screen and (max-width: 480px) {
    .properties ul span {
      color: #000;
      font-weight: bold;
      font-size: 14px; } }

@media screen and (max-width: 768px) {
  .form.calculator .form__content {
    background-color: #1253C0; } }

@media screen and (max-width: 768px) {
  .form.calculator .form__fields {
    background-color: #fff; } }

@media screen and (max-width: 768px) {
  .form.calculator .form__bottom p {
    color: rgba(0, 0, 0, 0.5); } }

@media screen and (max-width: 768px) {
  .form.calculator .form__bottom p a {
    color: rgba(0, 0, 0, 0.5); } }

@media screen and (max-width: 768px) {
  .form.calculator .form__title h3 {
    color: #fff;
    font-size: 18px; } }

.form__title h3 {
  font-size: 30px; }
  @media screen and (max-width: 1366px) {
    .form__title h3 {
      font-size: 24px; } }

.form__fields input {
  color: #000;
  font-size: 14px; }

.form__fields :-moz-placeholder {
  color: #000; }

.form__fields :-ms-input-placeholder {
  color: #000; }

.form__fields ::-moz-placeholder {
  color: #000; }

.form__fields ::-webkit-input-placeholder {
  color: #000; }

.form__fields :focus::-webkit-input-placeholder {
  color: transparent; }

.form__fields :focus::-moz-placeholder {
  color: transparent; }

.form__fields :focus:-moz-placeholder {
  color: transparent; }

.form__fields :focus:-ms-input-placeholder {
  color: transparent; }

.form__bottom p {
  font-size: 13px;
  color: #fff; }
  .form__bottom p a {
    color: #fff; }

.form .form-group .btn-tertiary {
  color: rgba(0, 0, 0, 0.5); }
  @media screen and (max-width: 1366px) {
    .form .form-group .btn-tertiary span {
      font-size: 12px; } }

.form .form-group .btn-tertiary:hover, .form .form-group .btn-tertiary:focus {
  color: #888;
  border-color: #888; }

.section .desc-wrap {
  font-size: 14px; }
  @media screen and (max-width: 480px) {
    .section .desc-wrap {
      font-size: 15px; } }

@media screen and (max-width: 480px) {
  .btn-more span {
    color: rgba(0, 0, 0, 0.5);
    font-size: 12px; } }

.section-title {
  font-size: 36px; }
  @media screen and (max-width: 1366px) {
    .section-title {
      font-size: 28px; } }
  @media screen and (max-width: 480px) {
    .section-title {
      font-size: 22px; } }
  .section-title ~ p {
    font-size: 14px; }
    .section-title ~ p a {
      color: #000; }
      @media screen and (max-width: 480px) {
        .section-title ~ p a {
          font-weight: bold; } }

.activities__item:hover .activities__desc {
  background: rgba(231, 239, 252, 0.9); }

.activities__item:hover h4 {
  color: #1253C0; }

.activities__item:hover a {
  color: #000; }
  .activities__item:hover a:hover {
    color: #1253C0; }

.activities__desc h4 {
  color: #fff;
  font-size: 24px; }
  @media screen and (max-width: 1366px) {
    .activities__desc h4 {
      font-size: 18px; } }

.activities__desc ul li a {
  font-size: 18px;
  color: #fff; }
  @media screen and (max-width: 1366px) {
    .activities__desc ul li a {
      font-size: 13px; } }
  @media screen and (max-width: 480px) {
    .activities__desc ul li a {
      font-size: 15px; } }

.activities__details a {
  font-size: 14px;
  color: #fff; }
  @media screen and (max-width: 1366px) {
    .activities__details a {
      font-size: 11px; } }

.advantages__item span {
  font-size: 18px; }
  @media screen and (max-width: 1366px) {
    .advantages__item span {
      font-size: 14px; } }

.calculate-condition__left p {
  color: #fff;
  font-size: 24px; }
  @media screen and (max-width: 1366px) {
    .calculate-condition__left p {
      font-size: 18px; } }

.calculate-condition h2 {
  font-size: 66px;
  color: #fff; }
  @media screen and (max-width: 1366px) {
    .calculate-condition h2 {
      font-size: 40px; } }

.instagram span {
  font-size: 30px; }
  @media screen and (max-width: 480px) {
    .instagram span {
      font-size: 20px; } }

.gallery__item.all-objects h4 {
  color: #fff;
  font-size: 24px; }
  @media screen and (max-width: 1366px) {
    .gallery__item.all-objects h4 {
      font-size: 18px; } }
  @media screen and (max-width: 480px) {
    .gallery__item.all-objects h4 {
      font-size: 14px; } }

.gallery__item.all-objects a {
  color: #fff; }
  .gallery__item.all-objects a span {
    font-size: 14px; }
    @media screen and (max-width: 1366px) {
      .gallery__item.all-objects a span {
        font-size: 12px; } }

.gallery__left a {
  color: #fff; }
  .gallery__left a span {
    font-size: 14px; }

.gallery__hidden-info h4 {
  font-size: 24px; }
  @media screen and (max-width: 1366px) {
    .gallery__hidden-info h4 {
      font-size: 18px; } }

.gallery__hidden-desc .gallery__left a {
  color: #000; }

.gallery__hidden-desc .gallery__left span {
  color: #000; }

.gallery__hidden-details span {
  font-size: 14px; }

.footer__top .address p:first-child {
  font-size: 14px; }
  @media screen and (max-width: 1200px) {
    .footer__top .address p:first-child {
      font-size: 10px; } }

.footer__top .address p:last-child {
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px; }
  @media screen and (max-width: 1200px) {
    .footer__top .address p:last-child {
      font-size: 10px; } }

.footer__middle .menu a {
  color: #fff;
  font-size: 14px; }
  @media screen and (max-width: 1200px) {
    .footer__middle .menu a {
      font-size: 12px; } }
  @media screen and (max-width: 480px) {
    .footer__middle .menu a {
      color: rgba(255, 255, 255, 0.5);
      font-size: 14px; } }

.footer__middle a {
  color: #fff; }
  .footer__middle a.mail {
    font-size: 14px; }
    @media screen and (max-width: 1200px) {
      .footer__middle a.mail {
        font-size: 12px; } }
    @media screen and (max-width: 480px) {
      .footer__middle a.mail {
        font-size: 14px; } }
  .footer__middle a.phone {
    font-size: 24px; }
    @media screen and (max-width: 1366px) {
      .footer__middle a.phone {
        font-size: 18px; } }
    @media screen and (max-width: 1200px) {
      .footer__middle a.phone {
        font-size: 14px; } }
    @media screen and (max-width: 480px) {
      .footer__middle a.phone {
        font-size: 24px; } }

.footer__bottom {
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px; }
  @media screen and (max-width: 1200px) {
    .footer__bottom {
      font-size: 10px; } }
  .footer__bottom a {
    color: rgba(255, 255, 255, 0.5); }

.mobile-menu a {
  color: #fff; }

@media screen and (max-width: 480px) {
  .mobile-menu .address p {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px; } }

.order-call .form__bottom p {
  text-align: center;
  color: rgba(0, 0, 0, 0.5); }
  .order-call .form__bottom p a {
    color: rgba(0, 0, 0, 0.5); }

.cookies a {
  color: rgba(0, 0, 0, 0.5);
  font-size: 11px; }

.cookies--light {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5); }
  .cookies--light a {
    color: rgba(255, 255, 255, 0.5); }

.reviews-links ul li {
  background-color: #E7EFFC; }
  .reviews-links ul li:hover {
    background-color: #d0e0f9; }
  .reviews-links ul li a {
    color: #000;
    font-size: 14px; }
    @media screen and (max-width: 480px) {
      .reviews-links ul li a {
        font-size: 11px; } }

.reviews__link {
  color: #fff; }
  .reviews__link span {
    font-size: 12px; }

.reviews__desc div:last-child p:first-child {
  font-size: 14px; }

.reviews__desc div:last-child p:last-child {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5); }

@media screen and (max-width: 768px) {
  .links a span {
    font-size: 11px; } }
  @media screen and (max-width: 768px) and (max-width: 480px) {
    .links a span {
      font-size: 12px; } }

@media screen and (max-width: 768px) {
  .links a:first-child {
    color: #000;
    background: #E7EFFC; }
  .links a:last-child {
    background: #1253C0;
    color: #fff; } }

.prices th {
  background: #1253C0;
  color: #fff;
  font-size: 14px; }
  @media screen and (max-width: 480px) {
    .prices th {
      font-size: 12px; } }

.prices td {
  font-size: 14px;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  background: #E7EFFC; }
  @media screen and (max-width: 480px) {
    .prices td {
      font-size: 12px; } }

.prices div {
  background: #E7EFFC; }
  .prices div li {
    font-size: 14px; }
    @media screen and (max-width: 480px) {
      .prices div li {
        font-size: 13px; } }

.prices--special td {
  background: #1253C0;
  color: #fff;
  border: 5px solid #fff; }

.prices--special--metal th {
  border-left: 5px solid #fff;
  border-right: 5px solid #fff; }

.prices--special--metal td {
  background: #E7EFFC;
  color: #000; }

.gallery-wrap .gallery h4 {
  font-size: 16px; }

.contacts-wrap {
  background: rgba(255, 255, 255, 0.8); }
  .contacts-wrap__top a {
    color: #1253C0;
    font-size: 24px; }
  .contacts-wrap ul li p {
    font-size: 14px; }
  .contacts-wrap ul li a {
    color: #1253C0; }
  .contacts-wrap p {
    font-size: 14px; }

.section-title--service {
  color: #1253C0; }

.desc-title--prev {
  font-size: 18px; }

.content-desc p {
  font-size: 14px; }

.services-list li a {
  color: #000;
  font-size: 14px; }
  .services-list li a:hover {
    color: #1253C0; }

.activities--services .activities__details a {
  font-size: 16px; }
  @media screen and (max-width: 480px) {
    .activities--services .activities__details a {
      color: #000; }
      .activities--services .activities__details a.active {
        color: #1253C0; } }

.activities--services .activities__wrap .btn {
  color: #fff; }
  .activities--services .activities__wrap .btn:hover {
    color: #fff; }

.activities--services .activities__link span {
  color: rgba(0, 0, 0, 0.2); }

.news__item h3 {
  font-size: 24px;
  color: #fff; }
  @media screen and (max-width: 1366px) {
    .news__item h3 {
      font-size: 18px; } }
  @media screen and (max-width: 480px) {
    .news__item h3 {
      font-size: 16px; } }

.news__desc div span {
  font-size: 14px;
  color: #fff; }

.news__desc p {
  font-size: 14px;
  color: #fff; }

.pages ul a {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5); }
  .pages ul a:hover {
    background: #E7EFFC; }

@media screen and (max-width: 768px) {
  .news-more {
    color: #000; } }

.similar-news {
  background: rgba(231, 239, 252, 0.5); }

.news-more__title h2 {
  font-size: 64px;
  color: #fff; }
  @media screen and (max-width: 1366px) {
    .news-more__title h2 {
      font-size: 44px; } }
  @media screen and (max-width: 480px) {
    .news-more__title h2 {
      color: #000;
      text-transform: uppercase;
      font-size: 26px; } }

.news-more__desc p {
  font-size: 14px; }

.gallery-more__right {
  background: rgba(231, 239, 252, 0.5); }
  .gallery-more__right h4 {
    font-size: 24px; }
  .gallery-more__right ul li {
    font-size: 14px; }
    .gallery-more__right ul li span {
      color: #1253C0; }

@media screen and (max-width: 480px) {
  .news-more__intro--services .news-more__title h2, .news-more__intro--services .news-more__title span {
    color: #fff; } }

.variation__center table td {
  background: rgba(231, 239, 252, 0.9);
  font-size: 16px;
  border: 2px solid #fff; }
  .variation__center table td.none {
    background: #BCBCBC; }
  @media screen and (max-width: 1366px) {
    .variation__center table td {
      font-size: 14px; } }

.variation__price-left div p, .variation__price-right div p {
  background: #1253C0;
  font-size: 14px;
  color: #fff; }
  @media screen and (max-width: 480px) {
    .variation__price-left div p, .variation__price-right div p {
      font-size: 11px; } }

.factos {
  background: #E7EFFC; }
  .factos p {
    font-size: 18px; }
  .factos__item {
    font-size: 12px; }

.types__title h3 {
  color: #1253C0;
  font-size: 30px; }
  @media screen and (max-width: 480px) {
    .types__title h3 {
      font-size: 18px; } }

.types__title div:last-child {
  color: #E73A3E; }
  .types__title div:last-child p {
    font-size: 30px; }
    @media screen and (max-width: 480px) {
      .types__title div:last-child p {
        font-size: 18px; } }
  .types__title div:last-child span {
    font-size: 14px; }

@media screen and (max-width: 1024px) {
  .types__left ul li {
    font-size: 11px; } }

@media screen and (max-width: 480px) {
  .types__left ul li {
    font-size: 14px; } }

.types__right .form {
  background: rgba(231, 239, 252, 0.7); }

.types__right .form__bottom p {
  color: #000; }
  @media screen and (max-width: 480px) {
    .types__right .form__bottom p {
      color: rgba(0, 0, 0, 0.5); } }
  .types__right .form__bottom p a {
    color: #000; }
    @media screen and (max-width: 480px) {
      .types__right .form__bottom p a {
        color: rgba(0, 0, 0, 0.5); } }
